* {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    html, body {
      height: 100%;
      margin: 0; 
    }

.hero-container {
   display: flex;
   justify-content: center;
   padding: 20px;
   align-items: center;
   background-color: #1f2937;
   color: white;
   height: 450px;
}

.header-logo{
   margin-bottom: 50px;
}
.hero{
  width: 350px;
}

h1 {
   font-size: 48px;
   font-weight: 900;
   color:#f9faf8 ;
   margin-bottom: 1px;
}
h2 {
   margin-top: 1px;
}

button {
   background-color: #3882f6;
   border: none;
   color: white;
   padding: 7px 35px;
   border-radius: 8px;
   margin-top: 5px;
   font-size: 18px;
   font-weight: 600;
   
}

.hero-two {
   display: inline;
   margin-left: 200px;
   justify-content: space-evenly;
}
.header-hero {
   display: flex;

}
 
img {
height: 250px;
width: 500px;

}

.section-container {
   display: flex;
   justify-content: center;
}

.section {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.box-one,
.box-two,
.box-three,
.box-four {
   border: 4px solid #3882f6;
   height: 150px;
   width: 150px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   margin-right: 20px;
   margin-top: 10px;
}

.random-text {
   display: flex; 
   justify-content: center;
   margin-top: 20px;
   font-size: 36px;
   color: #1f2937;
   font-weight: 900;
}

.texts {
   text-align: center;
   margin-top: 80px;
   background-color: #e5e7eb;
   font-size: 36px;
   font-style: italic;
   height: 350px;
   padding-top: 60px;
   font-weight: lighter;
   
}
p {
   text-align: right;
   font-style: normal;
}

h2{
   font-size: 18px;
   font-weight: normal;
}

.call-to-action-container {
   display: flex;
   margin-top: 50px;
   justify-content: center;
   color: white;
   height: 500px;
   margin-bottom: 50px;
}
.action-container {
  height: 150px;
  width: 900px;
  margin-top: 170px;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  padding-left: 100px;
  padding-right: 100px;

}
.sign-button{
   margin-left: 100px;
   border: 2px solid white;
   margin-right: 10px;
   height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2937;
  padding-left: 125px;
  padding-right: 130px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.section-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.section {
   display: flex;
   flex-wrap: wrap;
}

footer {
   text-align: center;
   background-color: #1f2937;
   height: 100px;
   padding-top: 35px;
   color: white;
}

h6 {
   font-size: 15px;
}

